*/node_modules/
node_modules/
*/npm-debug.log
npm-debug.log
server/public/static/courseware/*
server/public/static/img/avatar/*
server/public/static/img/exam/*
server/public/static/img/post/*
server/public/static/software/*
server/public/static/video/*